{% extends 'layout.html'%}

{% block content%}
<div class="listBox">
    <h1>{{content.title}}</h1>
    <p class="colDefault">
        作者：<span class="colInfo">{{content.user.username}}</span> -
        时间：<span class="colInfo">{{content.addTime|date('Y年m月d日 H:i:s',-8*60)}}</span> -
        阅读：<span class="colInfo">{{content.views}}</span> -
        评论：<span class="colInfo">{{content.comments.length}}</span>
    </p>
    <div>{{content.content}}</div>
</div>


<div class="listBox message">
    <h3 class="textLeft"><strong>评论</strong><span class="em">一共有 <em id="messageCount">0</em> 条评论</span></h3>

    {%if userInfo._id%}
    <p class="textLeft">{{userInfo.username}}</p>
    <p class="textLeft clear">
        <textarea id="messageContent"></textarea>
        <input type="hidden" id="contentId" value="{{content.id}}">
        <button id="messageBtn" class="submit">提交</button>
    </p>
    <div class="clear"></div>
    {%else%}
    <p class="bgDanger">你还没有登录,请先登录！</p>
    {%endif%}

    <div class="messageList">
        <!--<div class="noMessage"><p>还没有评论</p></div>-->
        <!--<div class="messageBox">
            <span class="messPerson">admin</span><span class="messTime">2017年11月14日 10:53:05</span>
            <div class="clear"></div>
            <p class="messInfo">哈哈</p>
        </div>-->

        <!--{%for comment in content.comments %}
            <div class="messageBox">
                <span class="messPerson">{{comment.username}}</span><span class="messTime">{{comment.postTime|date('Y年m月d日 H:i:s',-8*60)}}</span>
                <div class="clear"></div>
                <p class="messInfo">{{comment.content}}</p>
            </div>
        {%endfor%}-->
    </div>
    <div class="pager">
        <ul>
            <li class="previous">
                <!--<a href="">上一页</a>-->
            </li>

            <li></li>

            <li class="next">
                <!--<a href="">下一页</a>-->
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<script src="/public/js/comments.js"></script>
{% endblock%}